body {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

#portfolio {
    background: white;
}

#portfolio main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    text-align: center;
}

